[Unit]
Description=Peoplesmarkets media service
After=network.target

[Service]
User=root
EnvironmentFile=/opt/services/media/.env
ExecStart=/opt/services/media/media
ExecReload=/opt/services/media/media
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
